<header tuiNavigationHeader>

  <span tuiNavigationLogo>
    <tui-icon icon="@tui.map"/>
    <div tuiFade class="nav-logo">Tourplaner</div>

  </span>

  <tui-tabs>
    <a
      tuiTab
      routerLink="/dashboard"
      routerLinkActive="tui-tab_active"
    >Dashboard</a>

    <a
      tuiTab
      routerLink="/auth/login"
      routerLinkActive="tui-tab_active"
    >Login</a>

  </tui-tabs>

  <hr/>

      @if (auth.loggedInUser()) {

        <button
          tuiButton
          appearance="flat"
          size="s" iconStart="@tui.plus"
          routerLink="/dashboard/tour/new"
        >New Tour</button>
        <span class="user-label">
            hi {{auth.loggedInUser()?.username ?? 'user'}}
          </span>
        <button tuiButton appearance="flat" size="s" iconStart="@tui.log-out" (click)="auth.logoutUser()">Logout</button>

      } @else {

        <button tuiButton [routerLink]="authLink" >
          {{authLabel}}
        </button>

      }


</header>
