:host {
  display: block;
  background: var(--tui-background-base);
}


.nav-logo {
  font-weight: 900;
  font-size: 1.25rem;
}


.user-label {
  font-weight: 600;
  margin-left: 12px;
  color: var(--tui-text-primary);
}
