<div class="search_bar">

  <div class="lookup_field">
    <input
      class="search_input"
      placeholder="search..."
      (input)="onInputChange($event)"
    >
    <button>go</button>
  </div>

  <div class="selected_options">
    <!--- Maps to list of selected query-options---->

  </div>


  @if(searchManager.filteredSuggestions().length > 0 ){
    <div class="search_suggestions">
      @for (suggestion of searchManager.filteredSuggestions(); track suggestion.query){
        <div class="suggestion_list_item"
             (click)="searchManager.selectSuggestion(suggestion)"
        >
          {{suggestion.label}}
        </div>
      }

    </div>
  }

</div>
