.search_bar{

  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 10px;
}

.lookup_field{
  border: 1px solid green;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
