<h2>register:</h2>

<div class="dialog_group">
  <label>username:</label>
  <input type="text" placeholder="username">
</div>

<div class="dialog_group">
  <label>email:</label>
  <input type="text" placeholder="email">
</div>

<div class="dialog_group">
  <label for="">pwd:</label>
  <input type="password" placeholder="*****">
</div>

<div class="dialog_group">
  <label for="">confirm pwd:</label>
  <input type="password" placeholder="*****">
</div>

<div class="login_actions">
  <button class="submit">Submit</button>
  <button class="switch_dialog" routerLink="/auth/login"><- login</button>
</div>
