<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <h2>login:</h2>

  <div class="dialog_group">
    <label>email:</label>
    <input type="text" formControlName="email" placeholder="email">
  </div>

  <div class="dialog_group">
    <label for="">pwd:</label>
    <input type="password" formControlName="password" placeholder="*****">
  </div>

  <div class="login_actions">
    <button class="submit" type="submit">Submit</button>
    <button class="switch_dialog" routerLink="/auth/register">register -></button>
  </div>
</form>
